<div class="grid-x grid-padding-x">
  <dl class="cell small-3">
    <dt class="item-title">出社先ビル名:
      <dd><select id="bills" name="bills" data-tooltip tabindex="" data-allow-html="true" data-position="top" data-alignment="center" title="リストから選択して下さい。">
        <option value="品川シーズンテラス">品川シーズンテラス</option>
        <option value="アレア品川">アレア品川</option>
        </select>
    </dt>
  </dl>
  <div class="cell small-1"></div>
  <dl class="cell small-3">
    <dt class="item-title">出社日付:
      <dd><input type="date" data-tooltip tabindex="" id="workingDay" name="workingDay" data-position="top" data-alignment="center" title="出社日を指定して下さい。" required>
    </dt>
  </dl>
  <div class="cell small-2"></div>
  <dl class="cell small-2">
    <dt class="item-title">体温(記録時):
      <dd><input type="number" step=0.1 size=20 name=temperature min=35.0 max=45.0 value=35.0 data-tooltip tabindex="" id="temperature" name="temperature" data-position="top" data-alignment="center" title="体温を小数点第一位まで入力下さい。" required>
    </dt>
  </dl>
  <!-- <div class="cell small-1">
    <a href="#" data-tooltip tabindex="" id="historyDetail" name="historyDetail" data-position="top" data-alignment="center" title="行動履歴詳細">
        <i class="far fa-list-alt fa-2x base-color"></i>
    </a>
  </div> -->
</div>

<dl>
  <dt class="item-title">体調面特記事項:
    <dd><textarea name="taicho" rows="4"></textarea>
  <dt class="item-title">その他備考:
    <dd><textarea name="other" rows="3"></textarea>
      
  <!-- 登録ボタン実装 -->
  <dd><input type=submit class="btn btn-outline-info" value="登録">
</dl>